@charset "UTF-8";
@keyframes beat {
  0% {
    width: 300px;
    height: 150px;
  }
  40% {
    width: 300px;
    height: 150px;
  }
  50% {
    width: 310px;
    height: 160px;
  }
  60% {
    width: 300px;
    height: 160px;
  }
  70% {
    width: 310px;
    height: 160px;
  }
  80% {
    width: 300px;
    height: 150px;
  }
  100% {
    width: 300px;
    height: 150px;
  }
}
@keyframes opacity {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
@keyframes noScroll {
  0% {
    overflow: hidden;
  }
  99% {
    overflow: hidden;
  }
  100% {
    overflow: scroll;
  }
}
body {
  position: relative;
}

#banner {
  height: 100vh;
  width: 100vw;
  padding-top: 5px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}
#banner img {
  object-fit: cover;
  width: 100vw;
  height: 100%;
}
#banner .banner-content {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  background-color: rgba(163, 161, 161, 0.771);
  width: 100vw;
  padding: 5px;
}
#banner .banner-content i {
  margin-top: 5px;
  font-size: 1.6rem;
  cursor: pointer;
}

.container {
  height: 350px;
  width: 80%;
  display: flex;
  background-color: rgb(240, 240, 240);
  margin: 50px 0;
  box-shadow: inset -1px 3px 8px 5px rgb(172, 172, 172), 2px 5px 16px 0px #878888, 50px -50px 0px 50px rgba(131, 130, 130, 0);
}
@media (max-width: 800px) {
  .container {
    flex-direction: column;
    width: 100vw;
    height: fit-content;
  }
}
.container .container-txt {
  padding: 20px;
}
.container .container-txt h1 {
  margin-bottom: 30px;
}
.container .container-txt h2 {
  margin-bottom: 30px;
}
.container .container-txt p {
  margin-bottom: 30px;
}
.container .container-txt a {
  border-bottom: 1px solid black;
}

#info {
  border-radius: 0 40px 40px 0;
}

#quete {
  margin-left: 20%;
  border-radius: 40px 0 0 40px;
}
@media (max-width: 800px) {
  #quete {
    margin-left: 0;
  }
}

#costumes {
  border-radius: 0 40px 40px 0;
}
#costumes img {
  border-radius: 0 40px 40px 0;
}

#benevoles {
  margin-left: 20%;
  border-radius: 40px 0 0 40px;
}
@media (max-width: 800px) {
  #benevoles {
    margin-left: 0;
  }
}

#partenaire {
  border-radius: 0 40px 40px 0;
}
#partenaire img {
  border-radius: 0 40px 40px 0;
}

#parrains {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  border-radius: 40px 0 0 40px;
}
@media (max-width: 800px) {
  #parrains {
    margin-left: 0;
  }
}
#parrains h2 {
  padding: 20px;
}
#parrains .parrain {
  height: 50%;
  margin: auto 0;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 800px) {
  #parrains .parrain {
    flex-direction: column;
  }
}
#parrains .parrain img {
  height: 90%;
}
@media (max-width: 800px) {
  #parrains .parrain img {
    width: 100%;
  }
}

footer {
  background-color: rgb(56, 94, 132);
  border-radius: 40px 40px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  box-shadow: 5px 5px 15px 5px #000000;
  color: rgb(215, 215, 215);
}
footer .links {
  color: rgb(215, 215, 215);
  display: flex;
  flex-direction: column;
  padding: 10px;
}
footer .me {
  text-align: center;
  color: rgb(215, 215, 215);
}
footer a {
  color: rgb(215, 215, 215);
}
footer a:hover {
  color: white;
}

#affiche {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 120px;
}
#affiche img {
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  #affiche img {
    width: 100vw;
  }
}

#programmation-banner {
  background-image: url("../images/banner programmation.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#programmation-banner .banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.596);
  width: 100%;
  padding: 15px;
}

#troupes, #campements, #artisans, #enfants {
  width: 100vw;
  overflow: hidden;
  padding-top: 83px;
}
#troupes h2, #campements h2, #artisans h2, #enfants h2 {
  border-bottom: 2px solid black;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
@media (min-width: 800px) {
  #troupes, #campements, #artisans, #enfants {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 800px) {
  #troupes ul, #campements ul, #artisans ul, #enfants ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
#troupes ul li, #campements ul li, #artisans ul li, #enfants ul li {
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
@media (min-width: 800px) {
  #troupes ul li, #campements ul li, #artisans ul li, #enfants ul li {
    width: 350px;
    height: 490px;
    margin-bottom: 50px;
    list-style: none;
  }
}
#troupes ul li img, #campements ul li img, #artisans ul li img, #enfants ul li img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#troupes ul li h3, #troupes ul li p, #campements ul li h3, #campements ul li p, #artisans ul li h3, #artisans ul li p, #enfants ul li h3, #enfants ul li p {
  padding: 10px;
}
#troupes ul li h3, #campements ul li h3, #artisans ul li h3, #enfants ul li h3 {
  text-transform: uppercase;
}

.no-scroll {
  animation: noScroll 6s 1 ease-out forwards;
}

.load {
  height: 150vh;
  width: 100%;
  overflow: hidden;
  animation: opacity 6s 1 ease-out forwards;
}
.load img {
  animation-name: beat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.load h2 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#archives-banner {
  padding-top: 83px;
  background-image: url("../images/bannerArchive.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
#archives-banner .banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.596);
  width: 100%;
  padding: 15px;
  z-index: 2;
}
#archives-banner .banner-content i {
  cursor: pointer;
  font-size: 1.5rem;
  padding-top: 10px;
}

#archives {
  height: 100vh;
  margin-top: 83px;
  position: relative;
  overflow-x: hidden;
}
#archives .color {
  height: 100%;
  width: 50px;
  padding-top: 90px;
  background-color: rgba(49, 46, 46, 0.461);
  position: fixed;
  bottom: 0;
  box-shadow: 10px 15px 13px -7px #000000, 5px 15px 15px 5px rgba(0, 0, 0, 0);
}
#archives .color #timeline {
  left: 0px;
  height: 80vh;
  position: absolute;
}
#archives .event {
  position: absolute;
  left: -10px; /* Ajuster la position des événements par rapport à la frise */
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
}
#archives .years {
  margin-left: 20px;
  cursor: pointer;
}
#archives .archives-description {
  padding: 0 15px 0 70px;
}
#archives .archives-description h2 {
  padding-top: 83px;
}
#archives .archives-description i {
  padding-left: 10px;
}

.year-card {
  height: 100vh;
  padding-top: 83px;
}
.year-card h2 {
  padding-left: 55px;
}
.year-card iframe {
  margin-left: 50px;
}
.year-card .carousels {
  width: 100%;
  height: 50%;
  padding-left: 50px;
  overflow: hidden;
  white-space: nowrap;
}
@media only screen and (min-width: 740px) {
  .year-card .carousels {
    height: 400px;
    width: 100%;
  }
}
.year-card .carousels .slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.year-card .carousels .slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

nav {
  top: 0;
}

.formule {
  padding-top: 70px;
  padding-left: 10px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.formule_bloc h2 {
  text-transform: uppercase;
  margin: 20px 10px;
  border-bottom: 1px solid black;
  padding-top: 100px;
}
.formule_bloc h2 .green {
  color: green;
}
.formule_bloc .card_bloc_parrainage {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.formule_bloc .card_bloc_parrainage .card_parrainage {
  width: 350px;
  height: 350px;
}
.formule_bloc .card_bloc_parrainage .card_parrainage img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
.formule_bloc .card_bloc_partenaire {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.formule_bloc .card_bloc_partenaire .card_partenaire {
  width: 350px;
  height: 350px;
}
.formule_bloc .card_bloc_partenaire .card_partenaire img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
.formule_bloc .card_bloc_sponsort {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.formule_bloc .card_bloc_sponsort .card_sponsort {
  width: 250px;
  height: 250px;
}
.formule_bloc .card_bloc_sponsort .card_sponsort img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.formule_bloc_amis h2 {
  text-transform: uppercase;
  margin: 20px 10px;
  border-bottom: 1px solid black;
}
.formule_bloc_amis .card_bloc_amis {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.formule_bloc_amis .card_bloc_amis .card_amis {
  width: 50%;
  height: 70px;
  margin-bottom: 60px;
}
.formule_bloc_amis .card_bloc_amis .card_amis h3, .formule_bloc_amis .card_bloc_amis .card_amis p {
  margin-left: 50px;
}

.contact {
  padding-top: 100px;
  width: 100%;
}
@media only screen and (min-width: 1224px) {
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.contact .info {
  margin-bottom: 30px;
}
.contact .info p, .contact .info a {
  margin: 5px;
}
@media only screen and (min-width: 1224px) {
  .contact .info {
    width: 45%;
  }
}
.contact .plan {
  width: 100%;
}
@media only screen and (min-width: 1224px) {
  .contact .plan {
    width: 45%;
  }
}
.contact .plan iframe {
  width: 100%;
}

.mentions {
  padding-top: 90px;
  padding-left: 10px;
}
.mentions h1 {
  font-size: 2rem;
  text-decoration: underline;
}
.mentions h2 {
  padding: 10px 0;
  font-style: italic;
}

#billeterie {
  margin-top: 120px;
}
@media only screen and (min-width: 1224px) {
  #billeterie {
    width: 80%;
    margin: 120px auto 0;
  }
}
#billeterie h2, #billeterie h1 {
  padding-left: 20px;
}
#billeterie h2 {
  padding-bottom: 50px;
  text-transform: uppercase;
  margin: 20px 10px;
  border-bottom: 1px solid black;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
#billeterie h1 {
  font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "abel", Arial, Helvetica, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100vw;
  background: rgb(56, 94, 132);
  height: max-content;
  position: fixed;
  z-index: 99;
}
.navbar img {
  width: 100px;
}
.navbar .burger-btn {
  font-size: 2rem;
  cursor: pointer;
  z-index: 99;
}
@media (min-width: 800px) {
  .navbar .burger-btn {
    display: none;
  }
}

.menu {
  transition: 0.3s ease-in-out;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  height: 0;
  background-color: #f5f5f5;
  position: fixed;
  z-index: 99;
  margin-top: 83px;
}
@media (min-width: 800px) {
  .menu {
    display: none;
  }
}
.menu ul {
  list-style: none;
  padding-top: 10px;
}
.menu ul li {
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}
.menu ul:hover {
  color: white;
}

.nav-list {
  display: none;
  list-style: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.nav-list a {
  color: rgb(227, 227, 227);
}
@media (min-width: 800px) {
  .nav-list {
    display: flex;
    gap: 1rem;
  }
}

.download {
  padding-top: 10px;
}

/*# sourceMappingURL=style.css.map */
