@keyframes beat {
    0%{
      width: 300px;
      height: 150px;
    }
    40%{
      width: 300px;
      height: 150px;
    }
    50%{
      width: 310px;
      height: 160px;
    }
    60%{
      width: 300px;
      height: 160px;
    }
    70%{
      width: 310px;
      height: 160px;
    }
    80%{
      width: 300px;
      height: 150px;
    }
    100%{
      width: 300px;
      height: 150px;
    }
    }
    
@keyframes opacity {
  from{ 
    opacity: 1;
    display: block;
  } to {
    opacity: 0;
    display: none;
  }
}
@keyframes noScroll {
  0%{
    overflow: hidden;
  }
  99%{
    overflow: hidden;
  }
  100%{
    overflow: scroll;
  }
}